.welcome{
    width: 100%;
    display: flex;
    margin: 0px !important;
}

.btnList{
    position: absolute;
    font-size: 20px;
    padding: 20px 100px;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 140px;
    color: cornflowerblue;
    cursor: pointer;
}
.welcome-txt{
    position: absolute;
    font-size: 20px;
    padding: 20px 100px;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 240px;
    color: cornflowerblue;
}