.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.slider{
  width: 18%;
  display: inline-block;
  // outline: groove 0.5px;
  padding: 7px 10px;
  margin: 0px 11px;
}

.mat-card-content {
  margin: 30px 0px

}

.mat-select {
  width: 18%;
  display: inline-block;
  outline: groove 0.5px;
  padding: 7px 10px;
  margin: 0px 11px;

}

.actions-btn button{
  padding: 0px 50px;
    margin: 0px 10px;
}